In [1]:
import pandas as pd
import os
import numpy as np
import datetime as dt

In [11]:
df = pd.read_csv(r"C:\Users\Raffaele.Sportiello\OneDrive - Wolters Kluwer\Documents\Analisi flussi di lavoro\Registro Ordini_Report Ordini ALL Anno Corrente_202211181530.csv", sep=";", encoding="utf-8", lineterminator="\n")

ParserError: Error tokenizing data. C error: Expected 38 fields in line 27830, saw 39

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36408 entries, 0 to 36407
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Cod Pratica BPM        36408 non-null  object
 1   N. Ordine              36408 non-null  object
 2   Canale                 36378 non-null  object
 3   Opportunity            19604 non-null  object
 4   Dt Documento           36408 non-null  object
 5   Denominazione Cliente  36408 non-null  object
 6   Formato Allegato       36408 non-null  object
 7   Produzione             36408 non-null  object
 8   Org Comm               36408 non-null  object
 9   Pratica BPM Ordine     36408 non-null  object
 10  Fase Ordine Agenti     2437 non-null   object
 11  Fase Ordine BPM        36408 non-null  object
 12  Dt Ingresso BPM        36408 non-null  object
 13  Cod Sales              36408 non-null  object
 14  Sales Office           36097 non-null  object
 15  N. Cartellina          36408 non-null  object
 16  Cust Code SAP          36386 non-null  object
 17  P.Iva/Cod Fi.          36408 non-null  object
 18  Denom Cliente          36407 non-null  object
 19  N. Ordine.1            36407 non-null  object
 20  Data Documento         34727 non-null  object
 21  Data Trasmissione      6102 non-null   object
 22  Data Lavorazione       5228 non-null   object
 23  Imp. Totale            503 non-null    object
 24  Imp. Acconto           2151 non-null   float64
 25  CIG                    18474 non-null  object
 26  CUP                    36408 non-null  object
 27  Tipo Contratto         36408 non-null  object
 28  Cod Fattura            31520 non-null  object
 29  IPA                    19860 non-null  object
 30  Desc Fattura           691 non-null    object
 31  Periodicità            290 non-null    object
 32  Layout Fattura         151 non-null    object
 33  Dt Ingresso BPM.1      97 non-null     object
 34  Dt Aggiornamento       60 non-null     object
 35  Note                   29 non-null     object
 36  Note Amm.              5 non-null      object
 37  Note Respinta Int.     0 non-null      float64
dtypes: float64(2), object(36)
memory usage: 10.6+ MB

In [10]:
df.loc[:,["Data Documento", "Data Trasmissione", "Data Lavorazione", "Cust Code SAP"]]

      Data Documento Data Trasmissione Data Lavorazione        Cust Code SAP
0               2250               NaN              NaN  18/11/2022 00:00:00
1                525               NaN              NaN  17/11/2022 00:00:00
2                490               490              NaN  16/11/2022 00:00:00
3                250               250              NaN  17/11/2022 00:00:00
4                 50               NaN              NaN  18/11/2022 00:00:00
...              ...               ...              ...                  ...
36403            NaN               NaN              NaN  03/01/2022 00:00:00
36404            NaN               NaN              NaN  03/01/2022 00:00:00
36405            819               NaN              NaN  03/01/2022 00:00:00
36406            230               NaN              NaN  03/01/2022 00:00:00
36407        1593,50               NaN              NaN  29/12/2021 00:00:00

[36408 rows x 4 columns]