In [1]:
import pandas as pd
import os
import numpy as np
import datetime as dt
from os import listdir
from os.path import isfile, join
import zipfile
from zebra import human_format
import pyodbc

# Codici prodotto

In [2]:
cod_prodotti = pd.read_excel(r"C:\Users\Raffaele.Sportiello\OneDrive - Wolters Kluwer\Documents\Dashboard inflow\Parametriche\Classificazione_codice_prodotto.xlsx")


cod_prodotti["Codice PRODOTTO"] = cod_prodotti["Codice PRODOTTO"].apply(lambda x:  x.zfill(8))

cod_prodotti.to_excel(r"C:\Users\Raffaele.Sportiello\OneDrive - Wolters Kluwer\Documents\E-commerce\Data source\Classificazione_codice_prodotto.xlsx")

# Acquisti (report BUDEST)

In [3]:
zip_file =r"C:\Users\Raffaele.Sportiello\OneDrive - Wolters Kluwer\Documents\E-commerce\Data export\ZQ_MC_BUDANAL_IMP_ALL.ZIP"
directory_to_extract_to = r"C:\Users\Raffaele.Sportiello\OneDrive - Wolters Kluwer\Documents\E-commerce\Data export"
try:
    with zipfile.ZipFile(zip_file, 'r') as zip_ref:
        zip_ref.extractall(directory_to_extract_to)
except:
    print("Invalid file")

bw_file = r"C:\Users\Raffaele.Sportiello\OneDrive - Wolters Kluwer\Documents\E-commerce\Data export\ZQ_MC_BUDANAL_IMP_ALL_00000.xls"
df = pd.DataFrame(pd.read_html(str(bw_file), encoding = 'utf-8', decimal=",", thousands='.')[3])
df2 = pd.DataFrame(data=df.loc[1:,:])
df2.columns = df.loc[0,:].to_list()

df2["Data Ins. Ordine (monitoraggio)"] = pd.to_datetime(df2["Data Ins. Ordine (monitoraggio)"], format="%d%m%Y")

df2["Codice PRODOTTO"] = df2["Codice PRODOTTO"].astype(str).apply(lambda x:  x.zfill(8))
df2["Cliente FATTURA"] = df2["Cliente FATTURA"].astype(str)
df2["Raccolto"] = df2["Raccolto"].astype(float)

aggiornamento = str(df2["Data Ins. Ordine (monitoraggio)"].max())[0:10]

In [4]:
onlyfiles = [f for f in listdir("C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data source/Ordini") if isfile(join("C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data source/Ordini", f))]

lastFile = onlyfiles[-1]
lastDatetime = pd.to_datetime(lastFile.split("_")[1].split(".")[0], format='%Y-%m-%d') + pd.Timedelta(1, unit="Day")

In [5]:
df2 = df2.loc[df2["Data Ins. Ordine (monitoraggio)"] >=lastDatetime]

In [6]:
df2.to_excel(f"C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer\Documents/E-commerce/Data source/Ordini/ordini_{aggiornamento}.xlsx", index=False)

---

# Report Shop Fattura Smart Orders

## Documentazione per leggere XML

[https://stackoverflow.com/questions/46387091/trouble-parsing-xml-and-getting-data-into-pandas-dataframe](#https://stackoverflow.com/questions/46387091/trouble-parsing-xml-and-getting-data-into-pandas-dataframe)  
[Parsing xml-xls file in pandas](#https://stackoverflow.com/questions/69651296/parsing-xml-xls-file-in-pandas)  
[Parsing XML with illegal special characters (&) [duplicate]](#https://stackoverflow.com/questions/67339690/parsing-xml-with-illegal-special-characters)

[From XML to Excel for Data Analysis](#https://towardsdatascience.com/from-xml-to-excel-for-data-analysis-ac0c0c765b7d)\
[Reading and Writing XML Files in Python with Pandas](#https://stackabuse.com/reading-and-writing-xml-files-in-python-with-pandas/)\
[Extracting information from XML files into a Pandas dataframe](#https://towardsdatascience.com/extracting-information-from-xml-files-into-a-pandas-dataframe-11f32883ce45)\
[The lxml.etree Tutorial - Namespaces](#https://lxml.de/tutorial.html#namespaces)

### [Parsing XML with illegal special characters (&) [duplicate]](#https://stackoverflow.com/questions/67339690/parsing-xml-with-illegal-special-characters)

In [ ]:
import xml.etree.ElementTree as ET

with open(xml_file) as fp:
    content = fp.read()
    content = content.replace('&', '&amp;')
    xml = ET.ElementTree(ET.fromstring(content))

---

### [Parsing xml-xls file in pandas](#https://stackoverflow.com/questions/69651296/parsing-xml-xls-file-in-pandas)

In [ ]:
xml = '''<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" 
xmlns:o="urn:schemas-microsoft-com:office:office" 
xmlns:x="urn:schemas-microsoft-com:office:excel" 
xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet" 
xmlns:html="http://www.w3.org/TR/REC-html40"> 
<DocumentProperties xmlns="urn:schemas-microsoft-com:office:office"> 
</DocumentProperties> 
<ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel"> 
</ExcelWorkbook> 
<Styles> 
</Styles> 
<Worksheet ss:Name="Table1"> 
<Table > 
<Row> 
<Cell><Data ss:Type="String">tipo_evento</Data></Cell> 
<Cell><Data ss:Type="String">data_inizio</Data></Cell> 
<Cell><Data ss:Type="String">data_fine</Data></Cell> 
<Cell><Data ss:Type="String">ora_inizio</Data></Cell> 
<Cell><Data ss:Type="String">ora_fine</Data></Cell> 
<Cell><Data ss:Type="String">tutto_il_giorno</Data></Cell> 
<Cell><Data ss:Type="String">data_inserimento</Data></Cell> 
<Cell><Data ss:Type="String">autore</Data></Cell> 
<Cell><Data ss:Type="String">classe_desc</Data></Cell> 
<Cell><Data ss:Type="String">gruppo_desc</Data></Cell> 
<Cell><Data ss:Type="String">nota</Data></Cell> 
<Cell><Data ss:Type="String">aula</Data></Cell> 
<Cell><Data ss:Type="String">tipo</Data></Cell> 
<Cell><Data ss:Type="String">materia</Data></Cell> 
</Row> 
<Row> 
<Cell><Data ss:Type="String">Nota Agenda</Data></Cell> 
<Cell><Data ss:Type="String">2021-10-18</Data></Cell> 
<Cell><Data ss:Type="String">2021-10-18</Data></Cell> 
<Cell><Data ss:Type="String">09:40:00</Data></Cell> 
<Cell><Data ss:Type="String">10:30:00</Data></Cell> 
<Cell><Data ss:Type="String">NO</Data></Cell> 
<Cell><Data ss:Type="String">2021-10-15 15:42:31</Data></Cell> 
<Cell><Data ss:Type="String">POMPILI MATTEO</Data></Cell> 
<Cell><Data ss:Type="String">1CL SCIENTIFICO -  OPZIONE SCIENZE APPLICATE</Data></Cell> 
<Cell><Data ss:Type="String">1CL SCIENTIFICO -  OPZIONE SCIENZE APPLICATE</Data></Cell> 
<Cell><Data ss:Type="String">Studiare pag. 4, 5, 12 e 13.
Svolgere es. 24 e 30 pag. 40 e 34 pag. 41 (solo domande b e c)</Data></Cell> 
<Cell><Data ss:Type="String">-</Data></Cell> 
<Cell><Data ss:Type="String">nota</Data></Cell> 
<Cell><Data ss:Type="String"></Data></Cell> 
 </Row>
<Row> 
<Cell><Data ss:Type="String">Nota Agenda</Data></Cell> 
<Cell><Data ss:Type="String">2021-10-18</Data></Cell> 
<Cell><Data ss:Type="String">2021-10-18</Data></Cell> 
<Cell><Data ss:Type="String">10:30:00</Data></Cell> 
<Cell><Data ss:Type="String">10:30:00</Data></Cell> 
<Cell><Data ss:Type="String">NO</Data></Cell> 
<Cell><Data ss:Type="String">2021-10-12 10:48:03</Data></Cell> 
<Cell><Data ss:Type="String">MICHELINI DORIANA</Data></Cell> 
<Cell><Data ss:Type="String">1CL SCIENTIFICO -  OPZIONE SCIENZE APPLICATE</Data></Cell> 
<Cell><Data ss:Type="String"></Data></Cell> 
<Cell><Data ss:Type="String">Antologia: studiare+ schema pag. 24; leggere pag. 34-37; es. Pag. 37 n. 1,2; pag. 38 n. 4,5,6,7</Data></Cell> 
<Cell><Data ss:Type="String">-</Data></Cell> 
<Cell><Data ss:Type="String">nota</Data></Cell> 
<Cell><Data ss:Type="String"></Data></Cell> 
 </Row>
</Table> 
</Worksheet> 
</Workbook> '''

In [ ]:
cols = [8,11]
root = ET.fromstring(xml)
dft = []

for row in root.findall('.//{urn:schemas-microsoft-com:office:spreadsheet}Row'):
  cells = row.findall('{urn:schemas-microsoft-com:office:spreadsheet}Cell')
  for col in cols:
    #dft.append(cells[col].find('{urn:schemas-microsoft-com:office:spreadsheet}Data').text)
    print(cells[col].find('{urn:schemas-microsoft-com:office:spreadsheet}Data').text)

---

### [Trouble parsing XML and getting data into pandas dataframe](#https://stackoverflow.com/questions/46387091/trouble-parsing-xml-and-getting-data-into-pandas-dataframe)

In [ ]:
from lxml import etree

xml_file2 = r"C:\Users\Raffaele.Sportiello\OneDrive - Wolters Kluwer\Documents\E-commerce\Data export\ReportShopFattSmartOrders2.xls"
    
with (open(xml_file2,'r')) as f:
    doc = etree.parse(f)


namespaces={'o':'urn:schemas-microsoft-com:office:office',
            'x':'urn:schemas-microsoft-com:office:excel',
            'ss':'urn:schemas-microsoft-com:office:spreadsheet'}

L = []
ws = doc.xpath('/ss:Workbook/ss:Worksheet', namespaces=namespaces)
if len(ws) > 0: 
    tables = ws[0].xpath('./ss:Table', namespaces=namespaces)
    if len(tables) > 0: 
        rows = tables[0].xpath('./ss:Row', namespaces=namespaces)
        for row in rows:
            tmp = []
            cells = row.xpath('./ss:Cell/ss:Data', namespaces=namespaces)
            for cell in cells:
#                print(cell.text);
                tmp.append(cell.text)
            L.append(tmp)

df = pd.DataFrame(L[2:], columns=L[0])

---

## Costruzione dataframe per aggiornamento dashboard

### ReportShopSmartSkilldf

In [65]:
'''onlyfiles = [f for f in listdir("C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data export/ReportShopFattSmartOrders") if isfile(join("C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data export/ReportShopFattSmartOrders", f))]

lastFile = onlyfiles[-1]'''

In [2]:
import xml.etree.ElementTree as ET

xml_file = f"C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data export/ReportShopFattSmartOrders/ReportShopFattSmartOrders.xls"

with open(xml_file) as fp:
    content = fp.read()
    content = content.replace('&', '&amp;')
    xml = ET.ElementTree(ET.fromstring(content))

L = []
rows = xml.findall('.//{urn:schemas-microsoft-com:office:spreadsheet}Row')
for row in rows:
    tmp = []
    cells = row.findall('.//{urn:schemas-microsoft-com:office:spreadsheet}Data')
    for cell in cells:
        tmp.append(cell.text)
    L.append(tmp)
    
df = pd.DataFrame(L[1:], columns=L[0])

In [3]:
df.replace(["0",None], np.nan, inplace=True)

In [4]:
df

,#Ordine,IDUSER,EMAIL,Rag.soc,P.IVA,Data,Data mod.,Stato,Attivazione,Totale,Rinnovo,Prodotti,PRODOTTITOTALI,Contratto,Tipo con.,Integraz.
0,9380194,NaN,NaN,NaN,NaN,01/12/2022 09:29:47,01/12/2022 09:29:47,,Non partita/Errore,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9920329,2686177,info@termoidraulicagottardosrl.it,TERMOIDRAULICA GOTTARDO S.R.L.,03461690244,01/12/2022 09:27:28,01/12/2022 09:27:42,IN,Completa,1,12,00257795,1,NaN,anno solare in corso,nuovo contratto
2,9920402,NaN,NaN,NaN,NaN,01/12/2022 09:26:59,01/12/2022 09:26:59,,Non partita/Errore,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9920395,NaN,NaN,NaN,NaN,01/12/2022 09:25:49,01/12/2022 09:25:49,,Non partita/Errore,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9666298,NaN,NaN,NaN,NaN,01/12/2022 09:24:57,01/12/2022 09:24:57,,Non partita/Errore,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3551,9652002,2668772,fallimenti@giuseppemolteni.it,MOLTENI GIANLUIGI,03752610133,08/11/2022 08:44:23,22/11/2022 14:42:23,,Non partita/Errore,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3552,9434244,2633517,info@cvbconsult.it,CVB CONSULT SRLS Unipersonale,02534750464,14/10/2022 13:01:06,29/11/2022 19:06:56,,Non partita/Errore,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3553,9372350,2623300,supporto@mailinator.com,PER SUPPORTO ESHOP FATTURA SMART,01334450838,06/10/2022 12:12:46,29/11/2022 08:52:36,,Non partita/Errore,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3554,9308590,2439030,peoinvp1@mailinator.com,INVOICE PRODUZIONE UNO,00863010245,28/09/2022 21:28:30,28/11/2022 21:06:41,,Non partita/Errore,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3555,9094600,2636428,europanservizi@gmail.com,SMART ESTRATEGY SRL,02796900641,02/09/2022 10:53:00,23/11/2022 10:32:51,,Non partita/Errore,NaN,NaN,NaN,NaN,NaN,NaN,NaN

[Strftime](#https://www.programiz.com/python-programming/datetime/strftime)

In [28]:
onlyfiles = [f for f in listdir("C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data source/ReportShopSmartSkill_Accessi") if isfile(join("C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data source/ReportShopSmartSkill_Accessi", f))]

lastFile = onlyfiles[-1]
lastDatetime = pd.to_datetime(lastFile.split("_")[2].split(".")[0], format='%Y-%m-%d') + pd.Timedelta(1, unit="Day")

In [30]:
df["Data"] = pd.to_datetime(df["Data"], format="%d/%m/%Y %H:%M:%S")
df["Data mod."] = pd.to_datetime(df["Data mod."], format="%d/%m/%Y %H:%M:%S")

df[["Totale","Rinnovo","PRODOTTITOTALI"]] = df[["Totale","Rinnovo","PRODOTTITOTALI"]].apply(lambda x: x.str.replace(',','.'))
df[["Totale","Rinnovo","PRODOTTITOTALI"]] = df[["Totale","Rinnovo","PRODOTTITOTALI"]].fillna(0)
df[["Totale","Rinnovo","PRODOTTITOTALI"]] = df[["Totale","Rinnovo","PRODOTTITOTALI"]].astype(float)

In [31]:
df["Data"] = pd.to_datetime(df["Data"].dt.date)

In [32]:
df = df.loc[(df["EMAIL"] != "ntt.eshop@mailinator.com") & (df["Data"] >= lastDatetime) & (df["Data"].dt.date < dt.date.today()), :]

### ReportShopSmartSkill_Accessi

In [33]:
ReportShopSmartSkill_Accessi = df.loc[df["IDUSER"].isna(), ["#Ordine", "Data"]].groupby(df["Data"]).agg({"#Ordine":"nunique"}).reset_index().rename(columns={"#Ordine":"N. accessi"})


aggiornamento = str(ReportShopSmartSkill_Accessi["Data"].max())[0:10]

In [35]:
ReportShopSmartSkill_Accessi.to_excel(f"C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data source/ReportShopSmartSkill_Accessi/ReportShopSmartSkill_Accessi_{aggiornamento}.xlsx", index=False)

### ReportShopSmartSkill

In [36]:
ReportShopSmartSkill = df.loc[df["IDUSER"].notna(), ["Data","#Ordine","IDUSER","EMAIL","Rag.soc","P.IVA","Attivazione", "Prodotti","PRODOTTITOTALI","Totale","Rinnovo"]]

ReportShopSmartSkill.columns = ["Data", "ID Ordine", "ID User", "Email", "Rag.Soc", "P.IVA", "Attivazione", "Prodotti", "N. prodotti", "Valore a carrello", "Valore di rinnovo"]

In [37]:
ReportShopSmartSkill.to_excel(f"C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data source/ReportShopSmartSkill/ReportShopSmartSkill_{aggiornamento}.xlsx", index=False)

##### Aggregazioni - superato

In [74]:
ReportShopSmartSkill = df.groupby([df["Data"].dt.date, "Attivazione", df["IDUSER"].notna(), df["Prodotti"].notna(), "Prodotti"], dropna=False).agg({"#Ordine":"nunique", "IDUSER":"nunique", "Totale":"sum", "PRODOTTITOTALI":"sum"}).rename(columns={"#Ordine":"N. accessi", "IDUSER":"N. interazioni", "Totale":"Valore a carrello", "PRODOTTITOTALI":"N. prodotti a carrello"})

ReportShopSmartSkill.index.rename(["Data","Attivazione","ID user (T/F)","Prodotti (T/F)", "Prodotti"], inplace=True)

ReportShopSmartSkill = ReportShopSmartSkill.reset_index()

### ReportShopSmartSkill_Dettaglio

[Split cell into multiple rows in pandas dataframe](#https://stackoverflow.com/questions/50731229/split-cell-into-multiple-rows-in-pandas-dataframe)

In [38]:
ReportShopSmartSkill_Dettaglio = (df.loc[df["Prodotti"].notna(),["Data", "Attivazione", "Prodotti"]].set_index(["Data", "Attivazione"]).apply(lambda x: x.str.split(';').explode()).reset_index())

ReportShopSmartSkill_Dettaglio["Prodotti"] = ReportShopSmartSkill_Dettaglio["Prodotti"].str.strip()

ReportShopSmartSkill_Dettaglio = ReportShopSmartSkill_Dettaglio.groupby([ReportShopSmartSkill_Dettaglio["Data"], "Attivazione","Prodotti"]).agg({"Prodotti":"count"}).rename(columns={"Prodotti":"N. prodotti"}).reset_index()

In [41]:
ReportShopSmartSkill_Dettaglio.to_excel(f"C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data source/ReportShopSmartSkill_Dettaglio/ReportShopSmartSkill_Dettaglio_{aggiornamento}.xlsx", index=False)

---

# Webdesk

In [4]:
onlyfiles = [f for f in sorted(listdir(r"C:\Users\Raffaele.Sportiello\OneDrive - Wolters Kluwer\Documents\E-commerce\Data export\StatsLog-SMARTSKILL")) if isfile(join(r"C:\Users\Raffaele.Sportiello\OneDrive - Wolters Kluwer\Documents\E-commerce\Data export\StatsLog-SMARTSKILL", f))]

lastFile = onlyfiles[-1]
data = lastFile.split("-")[2].split(".")[0]

In [5]:
lastFile.split("-")[2].split(".")[0]

'20221012'

In [4]:
zip_file =f"C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data export/StatsLog-SMARTSKILL/StatsLog-SMARTSKILL-{data}.zip"
directory_to_extract_to = r"C:\Users\Raffaele.Sportiello\OneDrive - Wolters Kluwer\Documents\E-commerce\Data source\StatsLogSMARTSKILL"
try:
    with zipfile.ZipFile(zip_file, 'r') as zip_ref:
        zip_ref.extractall(directory_to_extract_to)
except:
    print("Invalid file")

In [5]:
zip_file =f"C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data export/StatsLog-SMARTSKILL/StatsLog-SMARTSKILLDETT-{data}.zip"
directory_to_extract_to = r"C:\Users\Raffaele.Sportiello\OneDrive - Wolters Kluwer\Documents\E-commerce\Data source\StatsLogSMARTSKILLDETT"
try:
    with zipfile.ZipFile(zip_file, 'r') as zip_ref:
        zip_ref.extractall(directory_to_extract_to)
except:
    print("Invalid file")

In [6]:
StatsLog = pd.read_csv(f"C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data source/StatsLogSMARTSKILL/StatsLog-SMARTSKILL-{data}.txt", sep=";")
StatsLog["Data"] = pd.to_datetime(StatsLog["Data"], format="%d/%m/%Y")

In [35]:
StatsLog.groupby(["Flaggone"], dropna=False).agg({"Studio":"nunique"})

          Studio
Flaggone
False      15465
True         152

In [34]:
StatsLog[["Denominazione", "Studio", "Codice SAP"]].nunique()

Denominazione    15129
Studio           15617
Codice SAP       15156
dtype: int64

In [12]:
StatsLogDett = pd.read_csv(f"C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data source/StatsLogSMARTSKILLDETT/StatsLog-SMARTSKILLDETT-{data}.txt", sep=";", on_bad_lines='warn')
StatsLogDett["Data"] = pd.to_datetime(StatsLogDett["Data"], format="%d/%m/%Y")

b'Skipping line 14595: expected 13 fields, saw 18\nSkipping line 37196: expected 13 fields, saw 18\n'
b'Skipping line 185140: expected 13 fields, saw 18\nSkipping line 195430: expected 13 fields, saw 18\n'
b'Skipping line 202339: expected 13 fields, saw 18\nSkipping line 239491: expected 13 fields, saw 18\n'
b'Skipping line 291969: expected 13 fields, saw 18\nSkipping line 309391: expected 13 fields, saw 18\n'
C:\Users\Raffaele.Sportiello\AppData\Local\Temp\ipykernel_21692\1012920734.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  StatsLogDett = pd.read_csv(f"C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data source/StatsLogSMARTSKILLDETT/StatsLog-SMARTSKILLDETT-{data}.txt", sep=";", on_bad_lines='warn')

In [16]:
StatsLogDett.loc[[37195,37196],:]

,Data,Studio,Denominazione,Codice SAP,Rapporto,Flaggone,IdWebdesk,Nome Ben,FatturaSM,PagaBen,Flagghino,AADAI|Pagamenti|Solleciti|EmissRIBA|TesseraSanit|Reverse|Fatt estere,Unnamed: 12
37195,2022-10-12,BRIGN1,BRIGNOLO Rag. Walter,524198,FI,False,78a7af70-6569-457b-90af-a9c300ec2312,LISA GIUSEPPE & C. S.N.C.,Attiva,0,1,AADAI=Invito|Pagamenti=Invito|Solleciti=Invito...,NaN
37196,2022-10-12,BRIGN1,BRIGNOLO Rag. Walter,524198,FI,False,938e6d3d-c068-4cc6-b6d9-a9c300fa0ea6,FORTUNATO IMPIANTI IDRO TERMO SANITARI DI FORT...,Attiva,0,1,AADAI=Invito|Pagamenti=Invito|Solleciti=Invito...,NaN

In [49]:
StatsLogDett.pivot_table(values="IdWebdesk", index="Flagghino", columns="Flaggone", aggfunc="nunique", margins=True, dropna=False).style.format(thousands=".", precision=0)

In [52]:
StatsLogDett[["Studio", "IdWebdesk"]].nunique().apply(lambda x: human_format(x))

Studio       12.9k
IdWebdesk     395k
dtype: object

In [54]:
print(f'Numero totale Ben: {human_format(378548+16313)}')

Numero totale Ben: 395k

# Duplicazione file Genya con cambio data

In [2]:
estrazioneAnna = "C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data source/EstrazioneGenyaAnna//"
onlyfiles = [f for f in listdir("C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data source/EstrazioneGenyaAnna") if isfile(join("C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data source/EstrazioneGenyaAnna", f))]

lastFile = onlyfiles[-1]
lastDatetime = pd.to_datetime(lastFile.split("_")[1].split(".")[0], format='%Y-%m-%d') + pd.Timedelta(7, unit="Day")

anno = lastDatetime.date().year
mese = lastDatetime.date().month
giorno = lastDatetime.date().day

anna = pd.read_excel(estrazioneAnna+lastFile)
anna["Data"] = lastDatetime.date()

anna.to_excel(f"C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data source/EstrazioneGenyaAnna/EstrazioneGenyaAnna_{anno}-{mese:02d}-{giorno:02d}.xlsx", sheet_name="Foglio1", index=False)

In [3]:
estrazioneBen = "C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data source/EstrazioneGenyaBen//"
onlyfiles = [f for f in listdir("C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data source/EstrazioneGenyaBen") if isfile(join("C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data source/EstrazioneGenyaBen", f))]

lastFile = onlyfiles[-1]

ben = pd.read_excel(estrazioneBen+lastFile)
ben["Data"] = lastDatetime.date()

for col in ben.select_dtypes(include=[int,float]).columns:
    ben[col] = ben[col].astype(str)
    
ben.to_excel(f"C:/Users/Raffaele.Sportiello/OneDrive - Wolters Kluwer/Documents/E-commerce/Data source/EstrazioneGenyaBen/EstrazioneGenyaBen_{anno}-{mese:02d}-{giorno:02d}.xlsx", sheet_name="Foglio1", index=False)

In [ ]:

for col in anna.select_dtypes(include=[int,float]).columns:
    anna[col] = anna[col].astype(str)

# Connessione al DB Azure

In [5]:
server = 'WkiBI.database.windows.net'
database = 'WkiBI'
username = 'Raffaele.Sportiello'
password = 'sFG(mR-7]?r<U,£x{<G}g}PsdeF{+W(9tb[QP+w4zf:39q:!#"LA_6'

cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [6]:
query = "Select * from [pbi].[BenId_Skills]"
ben_status_skill = pd.read_sql(query, cnxn)

query = "Select * from [pbi].[BenFS_EnableSkillShop]"
ben_enableskillshop = pd.read_sql(query, cnxn)

C:\Users\Raffaele.Sportiello\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\Raffaele.Sportiello\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [16]:
ben_status_skill

           BenId             Skills  Status ConnectedTo     Giorno
0        1014.92            SkAADAI       2       Genya 2022-10-26
1         1077.1            SkAADAI       2       Genya 2022-10-26
2      1077.1271            SkAADAI       2       Genya 2022-10-26
3      1077.1334            SkAADAI       2       Genya 2022-10-26
4      1077.1347            SkAADAI       2       Genya 2022-10-26
...          ...                ...     ...         ...        ...
92506       None  AcquisizioneAutom       2     Webdesk 2022-10-26
92507       None      ReverseCharge       2     Webdesk 2022-10-26
92508       None               RIBA       2     Webdesk 2022-10-26
92509       None     SpeseSanitarie       2     Webdesk 2022-10-26
92510       None          Pagamenti       2     Webdesk 2022-10-26

[92511 rows x 5 columns]

In [22]:
ben_status_skill_gr =  ben_status_skill.groupby(["ConnectedTo","Skills", "Status"]).agg({"BenId":"nunique","Skills":"count"}).rename(columns={"BenId":"N. Ben", "Skills":"N. Skills"}).reset_index()
ben_status_skill_gr["Giorno"] = pd.to_datetime(dt.datetime.now().date())

In [27]:
ben_status_skill_gr["N. Skills"].sum()

92511

In [26]:
ben_status_skill_gr["N. Ben"].sum()

89023